html {
	background: url("images/background.png") no-repeat center center fixed;
	background-size: cover
}

#main-container {
	text-align: center;
	margin-left: 2%;
}

#gallery {
	align-content: center;
}
img {
	align-content: center;
	height: 300px;
	float: left;
	width: 32%;
	border: #fff solid 3px;
}

p {
	font-family: "Karla", sans-serif;
	font-size: 1em;
	color: #888;
}


h1 {
	font-family: "Barrio", cursive;
	font-weight: normal;
	font-size: 5em;
	color: #fff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	margin-top: 40px;
	margin-bottom: 20px;
	
}

button {
	font-family: "Karla", sans-serif;
	font-size: 1em;
	color: #fe0c00;
	text-transform: lowercase;
	border-width: 3px;
    border-color: #fff;
    border-style: none;
    border-radius: 25px;
    margin: 5px;
	padding: 10 20 10 20;
	background-color: #fff;
}

form {
	font-family: "Karla", sans-serif;
	font-size: 1em;
	margin-bottom: 3em;
	margin-top: 2em;
}

input {
	font-family: "Karla", sans-serif;
	font-size: 1em;
	color: #fff;
    -webkit-appearance: textfield;
    background-color: #040479;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px;
}